%alert {
    padding: 20px;
    text-align: center;
    border-radius: $Raduis;
}

%btn {
    padding: 8px 15px;
    display: inline-block;
    margin: 3px;
    cursor: pointer
}

%avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.avatar {
    @extend %avatar;
    &-mx {
        position: relative;
        @extend %avatar;
        margin: auto;
    }
}

.btn {
    @extend %btn;
}

.disable {
    cursor: alias;
    user-select: none;
}

.alert {
    @extend %alert;
    &-danger {
        background-color: $danger;
        border: 1px solid $dangerStrong;
    }
}